$white: #fff;
$background: #f2f3f5;
$gray-line: #dcdde0;
$line-bottom: #d7d8da;
$text: #666666;
$text-blue: #B2B9FF;
$text-highlight: #b309ff;
$title: #2e384d;
$red: #e83f5b;
$green: #4cd62b;
$blue: #5965e0;
$blue-dark: #4953b8;
$blue-twitter: #2aa9e0;
